* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.box {
  margin-top: 100px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200x;
}

.logo {
  margin-top: 100px;
}
.ara {
  background-color: rgb(207, 207, 207);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  height: 70px;
}
.box1 {
  background-color: aquamarine;
  height: 80px;
  width: 35%;
  margin-right: 0.5%;
  float: left;
  padding-top: 5px;
}
.box2 {
  background-color: aqua;
  height: 80px;
  width: 24%;
  margin-right: 0.5%;
  float: left;
}
.box3 {
  background-color: cornflowerblue;
  height: 80px;
  width: 40%;
  float: left;
}
clear {
  clear: both;
}
.box1 ul li {
  list-style-type: none;
}
.box2 ul li {
  list-style-type: none;
}
.box3 ul li {
  list-style-type: none;
}
.container {
  margin-bottom: 250px;
}
